@model IEnumerable<UniversityStudentPerformanceTracker.Models.StudySession>

<h2>Study Sessions</h2>
<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Duration</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
