@model UniversityStudentPerformanceTracker.Models.User
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
<style>
    body {
        background-image: none !important;
    }
</style>
<h1>Welcome to the Dashboard, @User.Identity.Name!</h1>

<div>
    <p>Your user ID: @Model.UserId</p>
</div>
