@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}
<style>
    body {
        background-image: none !important;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the University Student Performance Tracker</h1>
    <p>Track and analyze student performance with ease using our comprehensive tools and reports.</p>
    <p>Get started by logging in below.</p>
    <a href="/Home/Login" class="btn btn-primary">Login</a>
</div>
