html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.main-content {
  flex: 1;
}

.footer {
  margin-top: auto;
}
body {
  background-image: url('/images/image_2.jpg'); /* Update the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-container {
  background: rgba(255, 255, 255, 0.8); /* Optional: To make the form stand out */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 100px auto;
}
